.multiselect{
	width:20%;
}

.col-table{
    position: relative;
    min-height: 1px;
    padding-left: 50px;

	width:100%;
}
.data{
	width:90%;
}

.sg-section {
    margin-bottom: 32px;
    margin-bottom: 3rem;
    overflow: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

sg-h1, .sg-h2, .sg-h3 {
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    margin-bottom: 1em;
    margin-top: 0;
}

h2, .h2 {
    font-size: 31px;
}

h4, .h4 {
    font-size: 21px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sg-lg {
    width: 140px;
    height: 100px;
}

.sg-font-primary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sg-font {
    font-size: 1.8em;
    padding: 0 0 .2em 0;
	color: #4d4d4d;
}

p {
    margin: 0 0 10px;
}

.group-checkbox{
	padding-top: 10px;
	padding-left: 20px;
}
table{
	width: 1200px;
    height: 500px;
    /* max-width: 100%; */
    margin-bottom: 1rem;
    margin-top: 20px;
    display: inline-block;
    overflow: auto;
}
thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  border: 1px solid #000;
}
thead th:first-child {
  left: 0;
  z-index: 1;
}
/* Use overflow:scroll on your container to enable scrolling: */

col-{
  max-width: 400px;
  max-height: 150px;
  overflow: scroll;
}


/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}


/* To have the header in the first column stick to the left: */

thead th:first-child {
  left: 0;
  z-index: 1;
}


/* Just to display it nicely: */

thead th {
  background: #000;
  color: #FFF;
}

tbody th {
  background: #FFF;
  border-right: 1px solid #CCC;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
}